body{
    font-family: 'Raleway' , sans-serif;
    margin: 0px;
}
/* * * * * * * * * * * * * * * * *NAVIGATION* * * * * * * * * * * * * * * * */
header nav{
    display: flex;
    justify-content: space-between;
    width: 98%;
}
header nav img{
    width: 120px;
    height: 50px;
}
.booki{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    width: 170px;
    height: 100px;
}
#lien{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
}
#lien a{
    text-decoration: none;

}
.lien1{
    height: 100px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    border-top: #0065fc 2px solid;
}
.lien2 a:hover{
    cursor: pointer;
    border: black 2px solid;
}
.lien2{
    width: auto;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.lien2 a{
    color: black;
    text-decoration: none;
}
/* * * * * * * * * * * * * * * * *TEXTE* * * * * * * * * * * * * * * * */
#texte{
    line-height: 30px;
    height: 100px;
    margin-top: 50px;
    margin-left: 20px;
}
#texte h1{
    font-weight: bolder;
    font-size: 22px;
}
/* * * * * * * * * * * * * * * * *BARRE DE RECHERCHE* * * * * * * * * * * * * * * * */
#recherche{
    display: flex;
    height: 50px;
    margin-left: 1%;
}
.search{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
    color: black;
    border-color: #F2F2F2;
    background-color: #F2F2F2;
}
.bouton{
    display: none;
}
#recherche input{
    border: none;
    border: 1px solid #F2F2F2 ;
    font-weight: bold;
}
#recherche p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 48px;
    border: 1px solid #F2F2F2;
    margin: 0px;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
    color: white;
    background-color: #0065fc;
    cursor: pointer;
}
.bouton{
    display: none;
}
/* * * * * * * * * * * * * * * * *FILTRE* * * * * * * * * * * * * * * * */
#filtre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 1%;
    font-weight: bold;
}
#filtre div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    width: auto;
}
#filtre p{
    padding-left: 10px;
    padding-right: 10px;

}
#filtre div > i{
    color:#0065fc;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    background-color: #deebff;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logofiltre
{
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    height: 48px;
    margin-right: 10px;
}
.logofiltre:hover{
    cursor: pointer;
    color: #0065fc;
    transform: scale(1.05);
}
/* * * * * * *INFO* * * * * * */
#info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-start;
    width: 500px;
    font-size: 14px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.logoi{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065fc;
    border: 1px solid #F2F2F2;
    border-radius:25px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    margin-right: 0px;
}
#info p {
    padding-left: 10px;
}
/* * * * * * * * * * * * * * * *CADRE HÉBERGEMENT* * * * * * * * * * * * * * * */
main section{
    display: flex;
}
.sansetoiles{
    color: #deebff;
}
#hebergementpop{
    justify-content: center;
    height: 700px;
}
article a{
    text-decoration: none;
    color: black;
}
.titrehebergement{
    height: 20px;
    margin-left: 6%;
    margin-bottom: 20px;
    font-weight: bolder;
}
#hebergement{
    background-color: #F2F2F2;
    height: auto;
    width: 65%;
    min-width: 725px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
}
#hebergement a{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.afficher{
    width: 15%;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    font-weight: bold;
    margin: 20px;
    margin-left: 6%;
}
.description{
    width: 90%;
    justify-content: flex-start;
    height: 45%;
}
.description h2{
    margin-left: 0px;
    margin-top: 7px;
}
.description p{
    margin-top: 8px;
    margin-bottom: 8px;
}
.afficher a{
    text-decoration: none;
    display: block;
    justify-content: flex-start;
    font-weight: bold;
    margin: 20px;
    margin-left: 6%;
    color: black;
}
#hebergement article{
    width: 24%;
    min-width: 230px;
    height: 210px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    box-shadow: 0 0 10px #0000002e;
}
#hebergement article:hover{
    cursor: pointer;
    transform: scale(1.05);
}
#hebergement article img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 15px 15px 0 0;
}
.cartehebergement1{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 40px;
    padding-left: 3%;
    padding-right: 3%;
}
.cartehebergement2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding-left: 3%;
    padding-right: 3%;
}
main section article h2{
    font-size: 18px;
    margin-bottom: 5px;
}
/* * * * * * * * * * * * * * * *CADRE POPULAIRE* * * * * * * * * * * * * * * */
#populaire{
    width: 30%;
    margin-left: 2%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: 15px;
}
.logopopulaire{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerpop{
    display: flex;
    justify-content:space-between;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    font-weight: bolder;
}
#populaire article{
    width: 80%;
    height: 160px;
    display: flex;
    background-color: white;
    border-radius: 15px;
    border: 4px solid transparent;
    box-shadow: 0 0 10px #0000002e;
}
#populaire article a{
    width: 100%;
    display: flex;
    background-color: white;
    border-radius: 15px;
    border: 4px solid transparent;
    text-decoration: none;
}
#populaire article:hover{
    cursor: pointer;
    transform: scale(1.05);
}
#populaire img{
    width: 40%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    background-size: cover;
    background-position: center;
}
#cartepop{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90%;
}
.descriptionpop{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}
.etoiles{
    display: flex;
    color:#0065fc;
}
/* * * * * * * * * * * * * * * * *ACTIVITES* * * * * * * * * * * * * * * * */
#activites{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}
#activites h2{
    margin-left:25px;
    font-weight: bolder;
}
#blocactivites{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    width: 100%;
}
.carteactivites1{
    width: 23%;
    height: 600px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
    margin-right: 20px;
}
.carteactivites1:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.blocactivites2:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.blocactivites3:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.blocactivites5:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.blocactivites6:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.carteactivites2356{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
    height: 600px;
    margin-right: 20px;
}
.blocactivites2{
    display: flex;
    flex-direction: column;
    height: 55%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.blocactivites3{
    display: flex;
    flex-direction: column;
    height: 40%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.blocactivites5{
    display: flex;
    flex-direction: column;
    height: 47%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.blocactivites6{
    display: flex;
    flex-direction: column;
    height: 47%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
#blocactivites h3{
    font-size: 18px;
    margin-left: 10px;
}

.imgactivites1{
    width: 100%;
    height: 90%;
    border-radius: 15px 15px 0 0;
    background-image: url("../img/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
}
.imgactivites2{
    width: 100%;
    height: 90%;
    border-radius: 15px 15px 0 0;
    background-image: url("../img/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
}
.imgactivites3{
    width: 100%;
    height: 90%;
    border-radius: 15px 15px 0 0;
    background-image: url("../img/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
}
.imgactivites4{
    width: 100%;
    height: 90%;
    border-radius: 15px 15px 0 0;
    background-image: url("../img/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
}
.imgactivites5{
    width: 100%;
    height: 90%;
    border-radius: 15px 15px 0 0;
    background-image: url("../img/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
}
.imgactivites6{
    width: 100%;
    height: 90%;
    border-radius: 15px 15px 0 0;
    background-image: url("../img/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
}
/* * * * * * * * * * * * * * * * *FOOTER* * * * * * * * * * * * * * * * */
#footer{
    width: 100%;
    height: 200px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
}
#footer h3{
    font-weight: bolder;
}
#footer div{
    display: flex;
    flex-direction: column;
}
.footer--padding{
    padding-right: 22%;
}
.footermargin{
    margin-left: 20px;
}
/* * * * * * * * * * * * * * * * *MOBILE* * * * * * * * * * * * * * * * */
@media screen and (max-width: 990px) and (min-width: 768px){
    
    #hebergementpop{
        flex-direction: column-reverse;
        height: auto;
        margin-bottom: 5px;
        margin-top: 50px;
        position: static;
    }
    #hebergement{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
    }
    #hebergement a{
        display: block;
        width: 100%;
        height: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .afficher{
        width: 15%;
        text-decoration: none;
        display: flex;
        align-items: flex-start;
        font-weight: bold;
        margin: 20px;
        margin-left: 6%;
    }
    .description{
        width: 90%;
        justify-content: flex-start;
        height: 45%;
    }
    .description h2{
        margin-left: 0px;
        margin-top: 7px;
    }
    .description p{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .afficher a{
        text-decoration: none;
        display: block;
        justify-content: flex-start;
        font-weight: bold;
        margin: 20px;
        margin-left: 6%;
        color: black;
    }
    #hebergement article{
        width: 25%;
        min-width: 230px;
        height: 210px;
        background-color: white;
        border: 1px solid transparent;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3px;
        box-shadow: 0 0 10px #0000002e;
    }
    #hebergement article:hover{
        cursor: pointer;
        transform: scale(1.05);
    }
    #hebergement article img{
        width: 100%;
        height: 60%;
        background-size: cover;
        background-position: center;
        border: 1px solid transparent;
        border-radius: 15px 15px 0 0;
    }
    .cartehebergement1{
        display: flex;
        justify-content: space-around;
        margin-top: 5px;
        margin-bottom: 40px;
        padding-left: 2%;
        padding-right: 2%;
    }
    .cartehebergement2{
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        padding-left: 3%;
        padding-right: 3%;
    }
    main section article h2{
        font-size: 18px;
        margin-bottom: 5px;
    }
    .headerpop{
        margin-bottom: 20px;
    }
    #populaire{
        width: 100%;
        margin-left: 0px;
        height: auto;
        border-radius: 0px;
    }
    #populaire article{
        width: 70%;
        height: 170px;
        display: flex;
        background-color: white;
        border-radius: 15px;
        border: 4px solid transparent;
        margin-bottom: 30px;
    }

} 
@media screen and (max-width: 768px){

    body{
        margin: 0px;
    }
    header nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    header nav img{
        margin-bottom: 20px;
    }
    header{
        width: 100%;
    }
    .lien1{
        justify-content: space-around;
        align-items: center;
        height: 50px;
        width: 50%;
        margin: 0px;
        color: #0065fc;
        border-top: none;
    }
    .lien2{
        border-bottom: 2px solid #deebff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        height: 50px;
    }
    #lien{
        width: 100%;
    }
    #lien a{
        margin-right: 0px;
        text-decoration: none;
    }
    header nav a{
        border-bottom: 2px solid #0065fc;
        display: flex;
        justify-content: center;
        width: 50%;
        height: 100%;
        font-weight: bold;
        margin-right: 0px;
    }
    #texte{
        width: 98%;
        margin-left: 7px;
        margin-bottom: 40px;
    }
    #recherche{
        margin-left: 7px;
    }
    #recherche p{
        display: none;
    }
    .bouton{
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 0px 10px 10px 0px;
        color: white;
        border-color: #F2F2F2;
        background-color: #0065fc;
    }
    #filtre{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        margin-left: 7px;
    }
    .familial{
        display: flex;
    }
    .logofiltre{
        margin-bottom: 5px;
    }
    #info{
        height: 50px;
        margin-bottom: 25px;
        margin-left: 0px;
        width: 100%;
    }
    .logoi{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #0065fc;
        border: 1px solid #F2F2F2;
        border-radius:25px;
        width: 25px;
        height: 25px;
    }
    #info p {
        padding-left: 15px;
    } 
    #hebergement{
        width: 100%;
        min-width: 0px;
        height: auto;
    }
    #hebergementpop{
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
    }
    #hebergement article{
        width: 85%;
        max-width: 400px;
        height: 200px;
    }
    #hebergement article:hover{
        cursor: pointer;
        transform: scale(1);
    }
    #hebergement article img{
        height: 60%;
        background-position: center;
        object-fit: cover;
    }
    .description{
        width: 90%;
        justify-content: flex-start;
        height: 30%;
    }
    .description h2{
        margin-left: 0px;
        margin-top: 3px;
        margin-bottom: 2px;
    }
    .description p{
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .cartehebergement1{
        width: 100%;
        height: 680px;
        align-items: center;
        padding: 0px;
        margin-bottom: 0px;
    }
    .cartehebergement2{
        width: 100%;
        height: 680px;
        align-items: center;
        padding: 0px;
    }
    .headerpop{
        margin-left: 5px;
        margin-top: 5px;
        width: 95%;
    }
    .headerpop h2{
        margin-left: 20px;
    }
    #populaire{
        width: 100%;
        justify-content: center;
        margin-left: 0px;
        border-radius: 0px;
        border: none;
    }
    #populaire article{
        width: 87%;
        height: 140px;
        display: flex;
        background-color: white;
        border-radius: 15px;
        border: 1px solid transparent;
        margin-bottom: 8px;
    }
    #populaire article img{
        object-fit: cover;
    }
    #populaire article:hover{
        cursor: pointer;
        transform: scale(1);
    }
    #cartepop{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #hebergement{
        width: 100%;
        height: auto;
        background-color: white;
    }
    .titrehebergement{
        height: 30px;
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        font-weight: bold;
    }
    .cartehebergement1{
        flex-direction: column;

    }
    .cartehebergement2{
        flex-direction: column;
    }
    #hebergement article{
        width: 90%;
    }
    .afficher{
        width: 30%;
        text-decoration: none;
        display: flex;
        align-items: flex-start;
        font-weight: bold;
        margin: 20px;
        margin-left: 5px;
    }
    #activites h2{
        margin-left:20px;
    }
    #blocactivites{
        flex-direction: column;
        height: auto;
        align-items: center;
        width: 100%;
    }
    #blocactivites img{
        height: 80%;
    }
    .blocactivites2{
        height: 300px;
        margin-bottom: 20px;
    }
    .blocactivites3{
        height: 300px;
        margin-bottom: 20px;
    }
    .blocactivites5{
        height: 300px;
        margin-bottom: 20px;
    }
    .blocactivites6{
        height: 300px;
    }
    #activites{
        margin-top: 5px;
    }
    .carteactivites1{
        height: 180px;
        width: 90%;
        max-width: 400px;
        margin-top: 20px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .carteactivites2356{
        height: 400px;
        width: 90%;
        max-width: 400px;
        margin-right: 0px;
    }
    .carteactivites1:hover{
        cursor: pointer;
        transform: scale(1);
    }
    .blocactivites2:hover{
        cursor: pointer;
        transform: scale(1);
    }
    .blocactivites3:hover{
        cursor: pointer;
        transform: scale(1);
    }
    .blocactivites5:hover{
        cursor: pointer;
        transform: scale(1);
    }
    .blocactivites6:hover{
        cursor: pointer;
        transform: scale(1);
    }
    .imgactivites1{
        width: 100%;
        height: 133px;
        border-radius: 15px 15px 0 0;
        background-image: url("../img/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
        background-size: cover;
        background-position: center;
    }
    .imgactivites2{
        width: 100%;
        height: 133px;
        border-radius: 15px 15px 0 0;
        background-image: url("../img/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
        background-size: cover;
        background-position: center;
    }
    .imgactivites3{
        width: 100%;
        height: 133px;
        border-radius: 15px 15px 0 0;
        background-image: url("../img/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
        background-size: cover;
        background-position: center;
    }
    .imgactivites4{
        width: 100%;
        height: 133px;
        border-radius: 15px 15px 0 0;
        background-image: url("../img/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
        background-size: cover;
        background-position: center;
    }
    .imgactivites5{
        width: 100%;
        height: 133px;
        border-radius: 15px 15px 0 0;
        background-image: url("../img/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
        background-size: cover;
        background-position: center;
    }
    .imgactivites6{
        width: 100%;
        height: 133px;
        border-radius: 15px 15px 0 0;
        background-image: url("../img/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
        background-size: cover;
        background-position: center;
    }
    #footer{
        flex-direction: column;
        height: auto;
    }
    #footer div{
        padding: 0px;
        margin-left: 20px;
    }
}

    