body{
    font-family: 'Raleway' , sans-serif;
}
/* * * * * * * * * * * * * * * * *NAVIGATION* * * * * * * * * * * * * * * * */
header nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
header nav img{
    margin-left: 1%;
}
.lien{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav a{
    margin-right: 10px;
    text-decoration: none;
    color: #0065fc;
    
}
header a:nth-of-type(2n){
    color: black;
}
/* * * * * * * * * * * * * * * * *TEXTE* * * * * * * * * * * * * * * * */
#texte{
    line-height: 30px;
    height: 100px;
    margin-top: 50px;
    margin-left: 20px;
}
#texte h1{
    font-weight: bold;
    font-size: 22px;
}
/* * * * * * * * * * * * * * * * *BARRE DE RECHERCHE* * * * * * * * * * * * * * * * */
#recherche{
    display: flex;
    height: 50px;
    margin-left: 1%;
}
#recherche i{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
    color: black;
    border-color: #F2F2F2;
    background-color: #F2F2F2;
}
#recherche span{
    display: none;
}
#recherche input{
border: none;
border: 1px solid #F2F2F2 ;
font-weight: bold;
}
#recherche p
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 48px;
    border: 1px solid #F2F2F2;
    margin: 0px;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
    color: white;
    background-color: #0065fc;
}
/* * * * * * * * * * * * * * * * *FILTRE* * * * * * * * * * * * * * * * */
#filtre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 1%;
}
#filtre div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    width: auto;
}
#filtre p{
    padding-left: 10px;
    padding-right: 10px;

}
#filtre div > i{
    color:#0065fc;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    background-color: #deebff;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logofiltre
{
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    height: 48px;
    margin-right: 10px;
}
/* * * * * * *INFO* * * * * * */
#info{
    display: flex;
    justify-content: space-between;
    width: 400px;
    font-size: 14px;
    margin-left: 1%;
    margin-bottom: 10px;
}
#info i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065fc;
    border: 1px solid #F2F2F2;
    border-radius:25px;
    width: 30px;
    height: 30px;
}
/* * * * * * * * * * * * * * * *CADRE HÉBERGEMENT* * * * * * * * * * * * * * * */
main section{
        display: flex;
}
#hebergement h2:first-child{
    height: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
}
#hebergement{
    background-color: #F2F2F2;
    height: auto;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    margin-left: 1%;
}
#hebergement article{
    width: 22%;
    height: 270px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hebergement article img{
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 15px 15px 0 0;
}
.cartehebergement{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
main section article h2{
    font-size: 18px;
    margin-bottom: 5px;
}
/* * * * * * * * * * * * * * * *CADRE POPULAIRE* * * * * * * * * * * * * * * */
#populaire{
    width: 30%;
    margin-left: 2%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: 15px;
}
#populaire h2:not(article h2){
    margin-left: 20px;
    margin-bottom: 30px;
}
#populaire article{
    width: 90%;
    height: 160px;
    display: flex;
    background-color: white;
    border-radius: 15px;
    border: 4px solid transparent;
}
#populaire img{
    width: 40%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    background-size: cover;
    background-position: center;
}
#cartepop{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 85%;
}
.descriptionpop{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}
.etoiles{
    display: flex;
    color:#0065fc;
}
/* * * * * * * * * * * * * * * * *ACTIVITES* * * * * * * * * * * * * * * * */
#activites{
    display: flex;
    flex-direction: column;
}
#blocactivites{
    display: flex;
    justify-content: space-around;
}
.carteactivites1{
    width: 22%;
    height: 600px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.carteactivites2356{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
    height: 600px;
}
.blocactivites2{
    display: flex;
    flex-direction: column;
    height: 55%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.blocactivites3{
    display: flex;
    flex-direction: column;
    height: 40%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.blocactivites5{
    display: flex;
    flex-direction: column;
    height: 47%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.blocactivites6{
    display: flex;
    flex-direction: column;
    height: 47%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
#blocactivites h3{
    font-size: 18px;
    margin-left: 10px;
}

.imgactivites1{
    width: 100%;
    height: 90%;
    border-radius: 15px 15px 0 0;
    background-image: url("../img/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
}
.imgactivites2{
    width: 100%;
    height: 90%;
    border-radius: 15px 15px 0 0;
    background-image: url("../img/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
}
.imgactivites3{
    width: 100%;
    height: 90%;
    border-radius: 15px 15px 0 0;
    background-image: url("../img/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
}
.imgactivites4{
    width: 100%;
    height: 90%;
    border-radius: 15px 15px 0 0;
    background-image: url("../img/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
}
.imgactivites5{
    width: 100%;
    height: 90%;
    border-radius: 15px 15px 0 0;
    background-image: url("../img/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
}
.imgactivites6{
    width: 100%;
    height: 90%;
    border-radius: 15px 15px 0 0;
    background-image: url("../img/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
}
/* * * * * * * * * * * * * * * * *FOOTER* * * * * * * * * * * * * * * * */
#footer{
    width: 100%;
    height: 200px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
#footer section{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}
/* * * * * * * * * * * * * * * * *MOBILE* * * * * * * * * * * * * * * * */
@media screen and (max-width: 768px){

    header nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    header nav img{
        margin-bottom: 20px;
    }
    .lien{
        justify-content: space-around;
        align-items: center;
        height: 50px;
        width: 100%;
    }
    header nav a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header nav a{
        border-bottom: 2px solid #0065fc;
        display: flex;
        justify-content: center;
        width: 50%;
        height: 100%;
        font-weight: bold;
        margin-right: 0px;
    }
    header a:nth-of-type(2n){
        border-bottom: 2px solid #deebff;
        display: flex;
        justify-content: center;
        width: 50%;
        height: 100%;

    }
    #texte{
        margin-left: 0px;
        margin-bottom: 40px;
    }
    #recherche p{
        display: none;
    }
    .bouton{
        background-color: #F2F2F2;
        height: 50px;
        width: 50px;
        color: white;
        cursor: pointer;
        border-radius: 10px 10px 10px 10px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
    }
    #filtre{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
    }
    .familial{
        display: flex;
    }
    .logofiltre{
        margin-bottom: 5px;
    }
    #info{
        height: 50px;
        margin-bottom: 0px;
        margin-left: 0px;
        width: 350px;
    }
    #hebergementpop{
        flex-direction: column-reverse;
        width: 100%;
    }
    .cartehebergement{
        width: 100%;
    }
    #populaire{
        width: 100%;
        margin-left: 0px;
    }
    #populaire article{
        width: 95%;
        height: 140px;
        display: flex;
        background-color: white;
        border-radius: 15px;
        border: 4px solid transparent;
    }
    #hebergement{
        width: 100%;
        background-color: white;
    }
    .cartehebergement{
        flex-direction: column;
    }
    #hebergement article{
        width: 95%;
    }
    #blocactivites{
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    #blocactivites{
        width: 100%;
    }
    #blocactivites img{
        height: 80%;
    }
    .blocactivites2{
        height: 300px;
    }
    .blocactivites3{
        height: 300px;
    }
    .blocactivites5{
        height: 300px;
    }
    .blocactivites6{
        height: 300px;
    }
    #activites{
        justify-content:center;
        align-items: center;
    }
    .carteactivites1{
        height: 250px;
        width: 95%;
    }
    .carteactivites2356{
        height: 500px;
        width: 95%;
    }
    .imgactivites1{
        width: 100%;
        height: 80%;
        border-radius: 15px 15px 0 0;
        background-image: url("../img/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
        background-size: cover;
        background-position: center;
    }
    .imgactivites2{
        width: 100%;
        height: 80%;
        border-radius: 15px 15px 0 0;
        background-image: url("../img/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
        background-size: cover;
        background-position: center;
    }
    .imgactivites3{
        width: 100%;
        height: 80%;
        border-radius: 15px 15px 0 0;
        background-image: url("../img/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
        background-size: cover;
        background-position: center;
    }
    .imgactivites4{
        width: 100%;
        height: 80%;
        border-radius: 15px 15px 0 0;
        background-image: url("../img/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
        background-size: cover;
        background-position: center;
    }
    .imgactivites5{
        width: 100%;
        height: 80%;
        border-radius: 15px 15px 0 0;
        background-image: url("../img/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
        background-size: cover;
        background-position: center;
    }
    .imgactivites6{
        width: 100%;
        height: 80%;
        border-radius: 15px 15px 0 0;
        background-image: url("../img/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
        background-size: cover;
        background-position: center;
    }
    #footer{
        flex-direction: column;
        height: auto;
    }
    }
    